@media (min-width: 768px) and (orientation: landscape) {
    
  body {
    background-color: white;
    background-image: none;
  }

  .section-division {
    display: flex;
    height: 100vh;
    width: 100vw;

  }

  .logo {
    display: flex;
    height: auto;
    width: 48vw;
    background-color: #ff6d00;
    justify-content: center;
    align-items: center;
  }
    .logo img {
      margin-left: 1em;
      height: 29em;
      width: auto;
    }

  .form-login {
    display: flex;
    height: auto;
    width: 52vw; 
    justify-content: center;
    align-items: center;
  }
  #cont-login p {
    display: flex;
  }
  #cont-login {
    display: flex;
    height: 50%;
    width: 60%;
    border-radius: 15px;
    background-color: #ffffff9f;
    box-shadow: 3px 3px 11px 1px #57575740;
    flex-direction: column;
    align-items: center;
    }

    #div-email, #div-password {
      display: flex;
      height: 27%;
      width: 100%;
      flex-direction: column;
      align-self: center;
    }
    #div-email{
      margin: 0 0 -1em;
    }
    #div-password {
      margin: 1.2em 0 0;
    }
    .mail, .pass {
      margin: 0 0 -0.5em 1.7em;
      align-self: flex-start;
      font-family: var(--f-labels);
      font-weight: var(--fw-labels);
      font-size: 1.2em;
    }
      .email, .password {
        height: 45%;
        width: 80%;
        margin: 1.1em 0 0 0;
        padding: 0.2em 0.4em;
        align-self: center;
        background-color: #FFF8EB;
        border-color: #ff6d00;
        border-radius: 15px;
        font-family: var(--f-placeholder);
        font-weight: var(--fw-placeholder);
      }
      .email::placeholder,
      .password::placeholder {
        text-align: left;
        font-size: 1.1em;
      }

  .login-btn {
    margin-top: .8em;
    height: 13%;
    width: 83%;
    font-family: var(--f-buttons);
    font-weight: var(--fw-buttons);
    font-size: 1.2em;
    color: white;
    background-color: #ff6d00;
    border: none;
    border-radius: 15px;
  }
  
  #error {
    visibility: hidden;
    height: 2em;
  }
  .error-msg {
    color: red;
    font-weight: 600;
    font-size: .9em;
  }
  
  .form-login:hover .error-msg {
    visibility: visible;
  }
}