body {
  background-image: url('../assets/img/background_BQ.png');
 
  
}

header{
  display: flex;
  background-color: #FF6D00;
  height: 70px;
  
  z-index: 20;

  grid-column: 1/3;
}
nav{
  margin: 20px;
  width: auto;
  height: 100%;
  
}
.dateUser{
  display: flex;
  color: white;

}

aside {
  height: 100vh;
  grid-column: 1/2;
  background-color: white;
}

.waiter-container {
  display: grid;
  grid-template-columns: 15% auto auto;
  grid-template-rows: 10% auto;
}

.menu-tab{
  grid-column: 2/3;
  background-color: blueviolet;
}
.detalle-pedido{
  grid-column:3/4;
  background-color: rgb(226, 43, 43);
  
}


