body {
  background-image: url("../assets/img/background_BQ.png");
}

header {
  display: flex;
  background-color: #ff6d00;
  height: 70px;
  width: 100%;
  z-index: 20;
}

nav{
  display: inline-flex;
  margin: 20px;
  width: auto;
}

i .fa.fa-plus-circle,
i .fa.fa-list-check {
  height: 1.8em;
  width: 1.8em;
}

.list-unstyled {
  position: absolute;
  margin: -2em 0 0 1em;
}

.mb-1 {
  margin-bottom: 1.25rem!important;
}

.bi.bi-box-arrow-right {
  margin-right: 0.4rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-family: var(--f-panel);
  font-weight: var(--fw-panel);
  line-height: 1.4rem;
  text-align: left;
  color: rgba(0, 0, 0);
  background-color: transparent;
  border: 0;
}

.btn:hover,
.btn:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff586;
}

.btn::before {
  width: 1.25em;
  line-height: 0;
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}

.btn[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #fff586;
}

.lh-tight {
  line-height: 1.2;
}

menu-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 3em;
  width: 65%;
  position: absolute;
  left: 0.4em;
  bottom: 2em;
  justify-content: center;
}

.logout.side-bar {
  display: flex;
  position: absolute;
  height: fit-content;
  width: 6em;
  bottom: 3em;
  align-items: flex-end;
}

.logout.side-bar a {
  font-family: var(--f-panel);
  font-weight: var(--fw-panel);
}

.waiter-container #logoH {
  height: 3.8em;
  margin-left: 60px;
  margin-top: -0.7rem;
}

.dataUser {
  display: flex;
  color: white;
  line-height: 1.2em;
  right: 6rem;
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  font-family: monospace;
}

.side-bar {
  height: 100%;
  width: 15%;
  background-color: white;
  position: relative;
}

.menuorder-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 80%;
  width: 80%;
  position: absolute;
  margin: 5.6em 4em 5.6em 9.5em;
}

.waiter-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.options-waiter {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 3em;
  font-size: 1.2em;
  justify-content: flex-start;
  align-items: center;
}
.options-waiter a {
  color: black;
  text-decoration: none;
}
.options-waiter span {
  margin-left: 0.4em;
}

.options-waiter .mb-1 {
  display: flex;
  margin-bottom: 1.25rem!important;
  margin-left: 0em;
  height: 3em;
}

/*Panel de ordenes*/
.o-container {
  display: flex;
  height: 100%;
  width: 38%;
  top: 1.4em;
  right: -2em;
  position: absolute;
  background: rgba(255, 231, 170, 0.55);
  border-radius: 15px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.new-order {
  display: inline-flex;
  height: 100%;
  width: 95%;
  margin-top: 1.5em;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.new-order-title {
  display: flex;
  flex-direction: column;
  height: 5em;
  width: 100%;
  margin-top: -0.1em;
  margin-bottom: 0.84em;
  align-items: center;
  text-align: center;
  font-family: var(--f-text);
  font-size: 22px;
  font-weight: 600;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#client-name {
  background: none;
}

.client-name {
  height: 2.2em;
  width: 17em;
  font-family: var(--f-text);
  font-size: 16px;
  padding: 0.4em;
  border: solid 1px #3b3b3b;
}

.order-det {
  display: flex;
  margin-top: -3.2em;
  height: 66.4%;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  overflow-y: scroll;
}

.product-data {
  display: flex;
  min-height: 6.8em;
  height: 6.8em;
  width: 94%;
  margin: 0.2em 0 0.5em 0;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.product-qty {
  display: flex;
  flex-direction: column;
  width: 2em;
  margin-right: 0.3em;
  margin-left: 0.3em;
  position: relative;  
  background: none;
}

.quantity {
  font-family: var(--f-text);
  font-weight: 600;
  text-align: center;
}

.btn-qty {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  align-items: center;
  display: none;
}

.product-info {
  display: flex;
  flex-direction: row;
  width: 80%;
  font-family: var(--f-panel);
  font-weight: var(--fw-panel);
  font-size: 18px;
  position: relative;
  line-height: 1.2em;
  align-items: center;
  background: none;
}

.product-name, .product-price {
  margin-right: 1em;
}
.product-name{
  width: 80%;
}
.product-price {
  width: 20%;
  font-size: 20px;
  font-weight: 600;
}

#title-h, #td-button, .product-name, .product-price, #td-total, .total {
  background: none;
}

#title-h {
  display: flex;
  margin-top: -2.7em;
  justify-content: center;
}

.total-sendorder {
  display: flex;
  height: 6em;
  width: 90%;
  flex-direction: column;
  position: absolute;
  bottom: 0.8em;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.total-payment {
  display: flex;
  height: 40%;
  width: 100%;
  font-family: var(--f-text);
  font-size: 19px;
  font-weight: 600;
  flex-direction: row;
  background-color: white;
  border: solid 0.5px #b1b1b1;
  border-radius: 8px;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.btn-cont-so {
  display: flex;
  height: 60%;
  width: 105%;
  flex-direction: column;
}
#td-btn-so {
  display: flex;
  width: 100%;
  background: none;
}
.btn-sendorder {
  height: 2.4em;
  width: 100%;
  font-family: var(--f-buttons);
  font-weight: 500;  
  font-size: 20px;
  color: white;
  border-radius: 15px;
  background-color: #ff6d00;
}
.btn-sendorder:disabled {
  background-color: #c78553;
  cursor: not-allowed;
}

.order-sent-success {
  height: 2.4em;
  width: 100%;
  color: white;
  background-color: rgb(7, 152, 41);
  border-radius: 15px;
  font-family: var(--f-text);
  font-size: 16px;
  font-weight: 500;
}


/*Ordenes existentes*/
.existing-orders {
  margin-top: 2em;
}

.order {
  margin-bottom: 2em;
  padding: 1em;
  background-color: #f8f8f8;
  border-radius: 8px;
}

.order-client,
.order-date,
.order-products {
  margin: 0;
}

.order-client {
  font-weight: bold;
}

.order-products {
  margin-top: 0.5em;
  font-weight: bold;
}

.product-list {
  list-style-type: none;
  padding-left: 0;
}

.product-item {
  margin-bottom: 0.5em;
}