
form{
    border: 1px solid rgb(230, 229, 229);
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: 270px;
    justify-content: center;
    align-content: stretch;
    }
.header-form{
    background-color: #FF6D00;
    border-radius:  21px 21px 0 0;
    padding: 10px;
    width: 100%;
    height: 50px;
}
.input{
    padding: 15px;
}

input, button{
    border-radius: 15px;
    
    height: 35px;
}
.div-left, .div-rigth{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
select{
    width: 230px;
    border-radius: 15px;
    border: 1,8px solid black;
    height: 35px;
}
button{
    width: 130px;
    margin: 5px;
    border: none;
}
label{
    margin: 0px 25px 0 0;
}
.btGuardar{
    background-color: #FF6D00;
}
.btnEliminar{
    background-color: #BCBCBC;
}
.vacio{
    width: 100px;
}