.menu-tab {
  display: flex;
  height: 80%;
  width: 80%;
  position: absolute;
  margin: 5.6em 4em 5.6em 9.5em;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tab {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin: 0 0 0 4em;
  height: 9%;
  width: 50%;
  color: black;
  align-items: baseline;
  justify-content: flex-start;
  border: none;
  z-index: 1;
}

.tab button {
  height: 2.6em;
  color: #555;
  background: #FFF;
  font-family: var(--f-buttons);
  font-size: 16px;
  font-weight: 600;
  border-radius: 15px 15px 0px 0px;
  border-top: 1px solid #555;
  border-right: 1px solid #555;
  border-left: 1px solid #555;
  border-bottom: none;
  
}

.tab button.active {
  height: 2.8em;
  font-weight: 700;
  line-height: 15px;
  color: #000;
  background-color: #f9a826;
  font-size: 19px;
  border: none;
  border-radius: 15px 15px 0 0;
}

/* Estilos de tarjetitas de productos */
.tab-content {
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  height: 95%;
  min-width: 50%;
  width: auto;
  max-width: 72%;
  margin-left: 1.8em;
  padding: 0 0 1.2em 1.7em;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 0rem 0rem 0.95rem 0.95rem;
  border-top: 3.5px solid #FCB500;
  border-right: 1px solid #FCB500;
  border-bottom: 1px solid #FCB500;
  border-left: 1px solid #FCB500;
  background: #FFF;
  box-shadow: 2px 2px 6px 0px rgba(87, 87, 87, 0.25);
  position: relative;
  top: 3em;
  z-index: 1;
  justify-content: flex-start;
  align-content: flex-start;
}

.card-product {
  height: 10.8em;
  width: 10em;
  margin: 1.6em 1.6em 0.2em 0;
  background-color: white;
  border: 0.2px solid #e9e9e9;
  border-radius: 15px;
  box-shadow: 2px 2px 6px 0px rgba(151, 71, 71, 0.25);
}

.product-image {
  height: 6em;
  width: 10em;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.product-image img {
  height: 100%;
  width: 100%;
}

.info-product {
  height: 5.2em;
  line-height: 1.2em;
  padding: 0.3em 0.6em;
}
.p-name {
  display: flex;
  margin: 0.2em 0 0 0;
  height: 2em;
  font-family: var(--f-text);
  font-size: 15.6px;
  line-height: 1em;
  flex-direction: row;
  align-items: center;
}

.p-price-add {
  display: inline-flex;
  height: 1.6em;
  width: 9em;
  margin-top: -0.2em;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row;
}

.price {
  width: 2em;
  color: #FF6D00;
  font-family: var(--f-text);
  font-weight: 700;
  font-size: 1.1em;
  line-height: 1em;
}

.btn-plus {
  margin-left: 4.2em;
  width: 6em;
  font-size: 17px;
}

.btn-add-product {
  height: 1.4em;
  width: 1.4em;
  font-size: 1.3rem;
  font-family: var(--f-buttons);
  font-weight: var(--fw-buttons);
  border: 1px solid #555;
  border-radius: 50%;
  background: white;
  line-height: 1.2em;
}