.list-orders{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}
.order{
    /* display: flex;
    flex-direction: column; */

    width: 250px;
    height: 200px;
    background: yellow;
    border-radius: 15px;
    padding: 1rem;
    border: 1px solid rgb(202, 202, 191);
    margin: 10px;
    
}
.order-header{
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
}
.order-footer{
    background-color: white;
    height: 43px;
    margin-top: -15px;
    margin-left: -16px;
    margin-right: -16px;
    border-radius: 0 0 15px 15px;
    padding: 0.5rem 1rem;  
   justify-content: flex-end;  
}
.order-body{
    overflow: auto;
    height: 80px;
}
.order-body p{
    margin: 0;
}
.list-orders{
    width: 65%;
    height: 80vh;
    overflow: auto;
}
.status-pedido{
    display: flex;
    
}
.details-order-chef{
    width: 40%;
}

